<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>裕安干部</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <style type="text/css">
  </style>
  <body>
    <div class="container index-h1">
      <h1 class="text-center  text-primary">裕安区帮扶干部</h1>
    </div>    
      <div class="container" id="loginForm">
        <form   class="form-signin" v-on:submit.prevent="login" v-if="!isMany" >
          <label for="inputEmail" class="sr-only">登录账号</label>
          <input type="text"  class="form-control" placeholder="手机号码" required autofocus value="" v-model="tel">
          <br>
          <button class="btn btn-lg btn-primary btn-block"  type="submit" >登录</button>
        </form>
          <div v-if ="isMany" >
            <div class="alert alert-info" role="alert">
              存在重复录入的帮扶联系人，请选择：
            </div>
            <table class="table table-bordered table-hover questionTable " >
              <thead>
                <tr >
                  <th >姓名</th>
                  <th >单位</th>
                  <th >联系乡镇</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for = "(relative,index) in relatives"  @click="linkRelativePoors(index)" >
                  <td >{{relative.name}}</td>
                  <td >{{relative.org}}</td>
                  <td >{{relative.townName}}</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
  </body>
  <script type="text/javascript" src="js/vue.js"></script>
  <script src="js/vue-resource.js"></script>
  <script type="text/javascript" src="js/relative.js"></script>
</html>