<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>疑点数据</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/yearsTemp.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <style type="text/css">
  </style>
  <body>
  <article id="questionResponse">
    <header >
      {{year}}疑点数据监测
    </header>
      <ul class="nav nav-tabs ">
        <li role="presentation" ><a >概况</a></li>
        <li role="presentation" class="active"><a >全区统计</a></li>
        <li role="presentation"><a >疑点下载</a></li>
        <li role="presentation"><a >历史记录</a></li>
      </ul>
    <section class="container" style="width: 90%;">
      <div class="row">
        <div class="col-lg-12">
        <br>
        <div class="alert alert-info" role="alert">此次疑点查询日期： {{checkTime | date}}</div>
          <table class="table table-bordered table-hover questionTable ">
            <thead>
              <tr >
                <th v-for="cell in tabs[0]" >{{cell}}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for = "(line,index) in tabs" v-if="index!=0"  v-bind:class="{'info':hoverLine == index}">
                <td v-for="(cell,index2) in line" @mouseenter="tableHover(index,index2)" v-bind:class="{'info':hoverCol == index2}">{{cell}}</td>
              </tr>
            </tbody>
          </table>
        </div>   
      </div>
    </section>
  </article>
  </body>
  <script type="text/javascript" src="js/vue.js"></script>
  <script src="js/vue-resource.js"></script>
  <script type="text/javascript" src="js/login.js"></script>
  <script type="text/javascript" src="js/yearsTemp.js"></script>
</html>